<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WXZ.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18C4FFCC1D8291D4003AFD38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C4FFE51D8291D4003AFD38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C4FFF01D8291D4003AFD38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
